---
import TestimonialCard from './TestimonialCard.astro'
import Row from '../ui/Row.astro'
import Col from '../ui/Col.astro'

import user1 from '../../../assets/avatars/avatar-01.webp'
import user2 from '../../../assets/avatars/avatar-02.webp'
import user3 from '../../../assets/avatars/avatar-03.webp'
const testimonial_list = [
	{
		author: 'David Cameron0',
		avatar: '../../../assets/avatars/avatar-01.webp',
		organization: 'meta limited',
		rating: 'four',
		content:
			'Our platform helps build secure onboarding authentica experiences & engage your users. We build .'
	},
	{
		author: 'David Cameron1',
		avatar: '../../../assets/avatars/avatar-02.webp',
		organization: 'meta limited',
		rating: 'four',
		content:
			'Our platform helps build secure onboarding authentica experiences & engage your users. We build .'
	},
	{
		author: 'David Cameron2',
		avatar: '../../../assets/avatars/avatar-03.webp',
		organization: 'meta limited',
		rating: 'three',
		content:
			'Our platform helps build secure onboarding authentica experiences & engage your users. We build .'
	},
	{
		author: 'David Cameron3',
		avatar: '../../../assets/avatars/avatar-01	.webp',
		organization: 'meta limited',
		rating: 'five',
		content:
			'Our platform helps build secure onboarding authentica experiences & engage your users. We build .'
	}
]
---

<section id="testimonials">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="mt-32 text-pretty"><strong>Отзывы</strong> наших клиентов</h2>
			<p class="pb-0 text-lg">
				something something something something something something something something
			</p>
		</Col>
	</Row>
	<!-- {testimonial_list.map((testim: any, i: number) => <p class=`${i%2 ? "bg-red-500" : "bg-red-900"}`>{testim.author}</p>)} -->
	<div class="relative flex overflow-x-hidden">
		<div class="animate-marquee whitespace-nowrap py-12">
			{testimonial_list.map((testim: any, i: number) => <TestimonialCard author={testim.author} />)}
		</div>
		<div class="absolute animate-marquee2 whitespace-nowrap py-12">
			{
				testimonial_list.map((testim: any, i: number) => {
					if (i % 2) <TestimonialCard author={testim.author} />
				})
			}
		</div>
	</div>
</section>
